.applyBtn {
  width: 120px;
  height: 50px;
  color: white;
  font-weight: 400;
  background-color: #f652a0;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.inputBox > input {
  padding: 5px;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 5px;
}

.inputBox > input:focus {
  border: 2px solid #f652a0;
  box-shadow: 0 0 3px #f652a0;
  outline-offset: 0px;
  outline: none;
}

.inputBox > label {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.textArea {
  border: 1px solid rgb(196, 193, 193);
  border-radius: 5px;
}

.textArea:focus {
    border: 2px solid #f652a0;
    box-shadow: 0 0 3px #f652a0;
    outline-offset: 0px;
    outline: none;
    padding: 5px;
  }


  @media only screen and (max-width: 768px){
    .applyBtn {
      width: 100px;
      font-size: 12px;
      font-weight: 400;
    }
    
  }