.container {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 90vh;
  background-color: #f4f6f8;
}

.searchBox {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 80px;
  background: url("https://images.ctfassets.net/isq5xwjfoz2m/7IVZDfpTi8YyZNQyh6wKoC/eeb71a9863665755f5aae08588a194fd/MP_-_Economist.png?w=1016&h=424&q=80&fm=png")
    center center/cover no-repeat;
}

.loaders{
  font-size: 20px;
  font-weight: bold;
}

.bar {
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px 8px 0px 8px;
  gap: 10px;
}

.bar > input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.bar > input[type="search"] {
  font-size: 18px;
  font-weight: 600;
}

.bar > div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.bar > div:hover {
  background-color: aliceblue;
}

.cards {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

/* Your tablet-specific CSS styles here */

@media (min-width: 768px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: fit-content;
  }
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {
  .cards {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  .bar > input {
    padding: 12px;
  }

  .bar > input[type="search"] {
    font-size: 14px;
    font-weight: 600;
  }

  .bar > div {
    width: 30px;
    height: 30px;
  }
}
